name: Update api on branch
on:
  schedule:
    - cron:  '*/20 * * * *'
  workflow_dispatch:

jobs:
  Update-api-on-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          ref: 'api'
          path: 'api'

      - name: Set up python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified

      - run: pip install requests

      - run: cd ./api && python update.py

      - name: Commit update
        uses: EndBug/add-and-commit@v7.5.0
        with:
          add: '.'
          author_name: Slluxx
          author_email: Slluxx@users.noreply.github.com
          branch: api
          branch_mode: throw
          cwd: './api'
          default_author: github_actor
          message: 'GitHub Actions - update API'
          pathspec_error_handling: ignore
          pull: 'NO-PULL'
          push: true
          remove: ''
          tag: ''